@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

* {
    font-family: 'Marcellus', serif;
}

.brush-img {
    width: 100%;
    border: 1px solid black;
    padding: 2rem;
}

.txt {
    font-size: 3rem;
}

.txt1 {
    font-size: 3rem;
}

.p-font {
    font-size: 2rem;
}

.f-font {
    font-size: 1.3rem;
}

.bt {
    border-radius: 0px;
}

.bt1 {
    border-radius: 0px;
    background-color: #F6F6F6;
}

.bt:focus {
    outline: none !important;
}

.circle {
    width: 44px;
    height: 44px;
    border-radius: 1.3rem;
    background-color: #F2D8D8;
}

.add {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
}

p {
    margin: 0.6rem;
}

.subfont {
    font-size: 1.5rem;
    color: #898989
}

/* slider*/

.swiper {
    width: 100%;
    height: 100%;
}


.swiper-button-prev {
    left: 0;
    background-color: #fff;
    opacity: 1 !important;
}

.swiper-button-prev::after {
    background-image: url("/img/slider-icon-left.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #fff;
    opacity: 1;
    padding: 0.5rem;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
}

.explore-more .swiper-button-next {
    right: 0;
}

.swiper-button-next {
    opacity: 1 !important;
}

.swiper-button-next::after {
    background-image: url("/img/slider-icon-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #fff;
    padding: 0.5rem;
    opacity: 1;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%), 0 3px 1px -2px rgb(0 0 0 / 20%);
}

.abc {
    width: 100%;
    border-radius: 80rem;
    /* height: 75rem; */
    height: 100vh;
    background-color: #79BAFC;
    position: relative;
}

.swiper-slide-active {
    width: 246.3333px;
    margin-right: 10px;

}