@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
}

.main-content {
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.reset-pass {
    font-size: 3rem;
    font-family: 'Marcellus', serif;
}

.subtxt {
    font-size: 1.375rem;
    font-family: 'Marcellus', serif;
}

.link {
    color: black !important;
    text-decoration: none;
    font-family: 'Marcellus', serif;
    font-size: 1.25rem;
}

.mail {
    margin-bottom: 0px;
    font-family: 'Marcellus', serif;
    font-size: 1.5rem;
}

.btn-dark {
    font-family: 'Marcellus', serif;
    font-size: 2rem;
    /* padding-left: 2rem;
    padding-right: 2rem; */
}

.btn:focus {
    outline: none !important;
}

.row {
    --bs-gutter-x: 0.8rem;
}

/*Reset password*/

.in {
    /* border: 1px solid white !important; */
    font-family: 'Marcellus', serif;
    font-size: 1rem;
    color: black !important;
}

/*in-box*/

.in-box {
    background-color: #E3EDF8;
    border: 1px dashed black;
    border-radius: 0px !important;
    font-family: 'Marcellus', serif;
    font-size: 2rem;
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    text-align: center;
}

.bt-w {
    border: 1px solid black;
    border-radius: 0px;
}

/*
form
*/

.log {
    font-family: 'Marcellus', serif;
    font-size: 1.75rem;
}

.create {
    font-family: 'Marcellus', serif;
    font-size: 1.75rem;
    color: #F80000;
}

.in1 {
    font-family: 'Marcellus', serif;
    font-size: 1rem;
    color: black !important;
    border: 1px solid black;
    border-radius: 0px;
}

.frtxt {
    font-family: 'Marcellus', serif;
    font-size: 1.25rem;
}

.btn-primary {
    font-family: 'Marcellus', serif;
    font-size: 18px;
}

/* sign in*/

.forgot {
    font-family: 'Marcellus', serif;
    font-size: 1rem;
}


/* img*/
.img-set {
    width: 100%;
}

.img-set1 {
    width: 100%;
    height: 100%;
}

/* .parent {
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
}

.image2 {
    position: absolute;
    top: 50px;
    left: 90px;
} */