main .nav-link {
    font-family: 'Marcellus', serif;
    color: black !important;
    font-size: 2.3rem;
}

main .main-txt {
    font-family: 'Marcellus', serif;
    font-size: 36px;
    font-weight: bold;
}

.main-txt1 {
    font-family: 'Marcellus', serif;
    font-size: 36px;
    font-weight: medium;
}

main .sub-txt {
    font-family: 'Marcellus', serif;
    font-size: 36px;
    line-height: 45px;
}

.sub-txt1 {
    font-family: 'Marcellus', serif;
    font-size: 2.2rem;
    color: black !important;
    margin-top: 1.5rem;
}