footer{
    font-family: 'Open Sans', sans-serif;
    background-image: url("../img/footer.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
}

#emailFooter::placeholder, #emailFooter{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.5rem;
}

footer .icon{
    background-color: #2F2C2C;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}

.icon img{
    width: 2rem;
}

footer .text{
    font-weight: 800;
    font-size: 1.563rem;
}

.copyright, .copyright a,.copyright a:hover{
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
}