*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header nav.top{
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    font-size: 1.563rem;
}

header nav.bottom{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
}

header nav.bottom .active{
    color: #79BAFC;
}

.container-fluid{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}