@media (max-width: 768px) {
    html{
        font-size: 8px !important;
    }
}

@media (max-width: 1200px) {
    html{
        font-size: 12px;
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    cursor: pointer;
}

header nav.top{
    font-family: 'Inria Serif', serif;
    font-weight: bold;
    font-size: 1.563rem;
}

header nav.bottom{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
}

.dropdown-menu{
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.313rem !important;
}

.dropdown-menu[data-bs-popper] {
    top: 150% !important;
    left: -50% !important;
}

.dropdown-menu li.fw-bold{
    font-size: 1.563rem !important;
}

.dropdown-toggle::after{
    content: initial !important;
}

header nav.bottom .active{
    color: #79BAFC;
}

.container-fluid{
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.badges{
    font-size: 0.75rem;
    top: 0px;
    right: -5px;
    padding: 0px 7px;
    background-color: red;
}

.small-text{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 0.85rem;
}

.nav2-icons img:hover{
    cursor: pointer;
}

.in-box {
    background-color: #E3EDF8 !important;
    border: 1px dashed black !important;
    border-radius: 0px !important;
    font-family: 'Marcellus', serif;
    font-size: 2rem !important;
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    text-align: center;
}

.bt-w {
    border: 1px solid black !important;
    border-radius: 0px !important;
}

.log {
    font-family: 'Marcellus', serif;
    font-size: 1.75rem !important;
    color: #F80000 !important;
}

.create {
    font-family: 'Marcellus', serif;
    font-size: 1.75rem !important;
    color: #F80000 !important;
}

.in1 {
    font-family: 'Marcellus', serif;
    color: black !important;
    border: 1px solid black !important;
    border-radius: 0px !important;
}

.frtxt {
    font-family: 'Marcellus', serif;
    font-size: 1.25rem !important;
}

.forgot {
    font-family: 'Marcellus', serif;
    font-size: 1rem !important;
}

.btn-cont{
    font-family: 'Marcellus', serif;
    font-size: 1.125rem !important;
}

/* Slider */

.swiper-button-prev::after, .swiper-button-next::after{
    content: initial !important;
}

.swiperNav .card-title,
.swiperNav .price{
    font-family: 'Marcellus', serif;
    font-size: 0.938rem;
}

.swiperNav .price{
    font-weight: bold;
}

.swiperNav .swiper-slide:hover{
    border: 4px solid black;
}

/*  */