.carousel-caption{
    right: initial !important;
    left: initial !important;
    /* top: 40%; */
}

.c-1{
    font-family: 'Allura', cursive;
    font-size: 4rem;
}

.c-2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 6rem;
    line-height: 4rem;
}

.c-3{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    padding-top: 2.5rem;
}

/* Navbar Icons */

.nav2-icons img{
    width: 2.8rem;
    height: 3.3rem;
}

/* Images 5 */
.bottom-right {
    position: absolute;
    top: 90%;
    left: 50%;
    width: max-content;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    transform: translate(-50%, -50%);
    border-bottom: 3px solid white;
}

/* Best Seller */
.title-seller{
    font-family: 'Poppins', sans-serif;
    font-size: 3.75rem;
    font-weight: bold;
}

.bsText{
    bottom: 0;
    font-family: 'Marcellus', serif;
    font-size: 2rem;
    font-weight: bold;
}

.hover-display{
    display: none !important;
}

.hovdivs div.position-relative:hover > div > div.hover-display{
    display: flex !important;
    cursor: pointer;
}

/* New Arrivals */

.newArrival .right{
    font-family: 'Open Sans', sans-serif;
    font-size: 6rem;
    font-weight: 800;
}

.newArrival .right .title{
    color: #053737;
}

.newArrival .right a{
    font-size: 1.25rem;
    font-weight: 600;
}

/*  */

.page-titles{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 3.75rem;
    font-weight: 800;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Slider */

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset,25px) !important;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset,25px) !important;
}

.swiperMain .card-title{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

.swiperMain .card-text{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.swiperMain .price, .swiperMain a{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.swiperMain .swiper-slide-next > div {
    border: 4px solid black;
}

/*  */