@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

* {
    font-family: 'Marcellus', serif;
}

.nav-link {
    color: black !important;
    font-size: 2.3rem;
}

.main-txt {
    font-size: 36px;
    font-weight: bold;
    /* margin-top: 1rem; */
}


.sub-txt {
    font-size: 16px;
    /* margin-top: 1rem; */
}

/*Privecy*/

ol {
    /* padding: 0.8rem; */
    padding-left: 0.8rem;
}

/*account*/
.sub-txt1 {
    font-size: 22px;
    color: black !important;
    margin-top: 1.5rem
}

/* contact us*/
.main-txt1 {
    font-size: 36px;
    font-weight: medium;
    /* margin-top: 1rem; */
}